<div class="size-full relative overflow-hidden" #container>
  <canvas class="bg-white absolute" #mainCanvas [style.cursor]="currentCursor()"></canvas>
  <div
    class="absolute top-4 flex gap-2 mx-auto left-0 right-0 w-max rounded-xl shadow-xl border border-gray-200 bg-white px-4 py-2">
    @defer {
    <oc-toolbar></oc-toolbar>
    }
  </div>
  <div
    class="absolute right-4 flex gap-2 my-auto top-0 bottom-0 h-max rounded-xl shadow-xl border border-gray-200 bg-white px-4 py-2">
    Element<br>Options<br>Here
  </div>
</div>
